atomicwrites==1.2.1
attrs==18.2.0
awscli==1.16.47
botocore==1.12.37
certifi==2018.10.15
chardet==3.0.4
colorama==0.3.9
DAWG-Python==0.7.2
docopt==0.6.2
docutils==0.14
docx==0.2.4
html2text==2018.1.9
idna==2.7
jmespath==0.9.3
lxml==4.2.1
more-itertools==4.3.0
Pillow==5.1.0
pluggy==0.8.0
py==1.7.0
pyasn1==0.4.4
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
PySocks==1.6.8
pytest==3.9.1
python-dateutil==2.7.5
python-docx==0.8.6
python-pptx==0.6.8
PyYAML==3.13
requests==2.20.0
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
urllib3==1.24
virtualenv==16.1.0
XlsxWriter==1.0.4
